.container {
  display: flex;
  flex: 1 1 0;
  padding: 0;
  margin: 0;
}

#title {
  justify-content: flex-start;
}

#rating {
  margin-right: 1em;
}

#addanime {
  margin-left: 1em;
}

.animeList {
  margin-top: 1em;
}
